body {
    overflow-x: hidden;
}
#league {
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    top:200px;
    width:600px;
    z-index: 2;
}

#bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1879px;
    height:1100px;
    z-index: 1;
    
}

#riotgames {
    position: absolute;
    left: 20px;
    top: 0px;
    z-index: 3;
}

.img {
    border: 2px groove rgb(200 156 56);
}

#champions {
    position: absolute;
    margin-left: 150px;
    top: 600px;
    z-index: 3;
}

#lore-img {
    position: absolute;
    top: 600px;
    left: 650px;
    z-index: 3;
}

#roles-img {
    position: absolute;
    top: 600px;
    left: 1150px;
    z-index: 3;
}

.menu {
    color: rgb(200 156 56);
    position: relative;
    font-style: oblique;
    font-size: 50px;
    z-index: 3;
}

#champs {
    position: absolute;
    left: 200px;
    top: 500px;
}

#lore {
    position: absolute;
    left: 700px;
    top: 500px;
}

#roles {
    position: absolute;
    left: 1270px;
    top: 500px;
}

