#riotgames {
    position: absolute;
    left: 70px;
    top: 270px;
    z-index: 2;
}

#runeterra {
    position: absolute;
    left: 240px;
    top: 0px;
    filter: brightness(20%);
    z-index: 1;
}

#map {
    position: absolute;
    left: 300px;
    top: 480px;
    z-index: 2;
    border: 2px solid rgb(200 156 56);
}

body {
    background-color: rgb(19 27 46);
}

ul {
    list-style-type: none;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    background-color: rgb(21 19 19);
    border: 2px solid rgb(200 156 56);
    height: 1300px;
}

li a {
    display: block;
    color: rgb(200 156 56);
    font-weight: bold;
    font-style: oblique;
    font-size: 30px;
    text-align: center;
    padding: 18px 28px;
    text-decoration: none
}

#world-head {
    position: absolute;
    top: 450px;
    left: 850px;
    font-weight: bold;
    color: rgb(200 156 56);
    font: oblique 30px;
    z-index: 2;
}

.text {
    position: absolute;
    font-weight: bold;
    color: rgb(200 156 56);
    font-size: 20px;
    z-index: 2;
}

#world-info {
    top: 500px;
    left: 850px;
    width: 50%;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

#singed-lore {
    position: absolute;
    left: 20%;
    top: 900px;
    width: 40%;
}

#lore-example {
    position: absolute;
    top: 850px;
    left: 20%;
    font-weight: bold;
    color: rgb(200 156 56);
    font: oblique 30px;
    z-index: 2;
}

#singed {
    position: absolute;
    left: 65%;
    top: 880px;
    z-index: 2;
    border: 2px solid rgb(200 156 56);
}

#click-here {
    position: absolute;
    top: 1070px;
    left: 20%;
    font-weight: bold;
    color: rgb(200 156 56);
    font: oblique 30px;
    z-index: 2;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color:rgb(200 156 56);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

#form {
    position: absolute;
    top: 820px;
    left: 1%;
    width:10%;
    z-index: 2;
}
.font {
    font-weight: bold;
    color: rgb(200 156 56);
    font-size: 20px;
}
#about {
    position: absolute;
    top: 10px;
    left: 45%;
    font-weight: bold;
    color: rgb(200 156 56);
    font: oblique;
    font-size:100px;
    z-index: 2;
}
#game-info{
    position:absolute;
    top:170px;
    left:30%;

}
