
body {
    background-color: rgb(19 27 46);
    overflow-x:hidden;
    margin: 0;
    height:100%;
    width:100%;
}

.start {
    color: rgb(200 156 56);
}

.select {
    color: rgb(200 156 56);
    font-weight: bold;
    font-style: oblique;
    font-size: 50px;
}

ul {
    list-style-type: none;
    position: absolute;
    top: 500px;
    margin-left: 80px;
    background-color: rgb(21 19 19);
    border: 2px solid rgb(200 156 56);
}

li {
    float: left;
}

    li a {
        display: block;
        color: rgb(200 156 56);
        font-weight: bold;
        font-style: oblique;
        font-size: 40px;
        text-align: center;
        padding: 18px 28px;
        text-decoration: none;
    }

#champion {
    font-size: 100px;
    font-weight: bold;
    font-style: oblique;
    display:block;
    position: relative;
    margin-left: 560px;
    margin-right:auto;
    top: 200px;
    z-index: 2;
}

#chose {
    display: block;
    position: relative;
    margin-left: 700px;
    margin-right: auto;
    position: absolute;
    top: 220px;
    z-index: 2;
}

#riotgames {
    position: absolute;
    left: 20px;
    top: 0px;
    z-index: 2;
}

#neeko {
    position: absolute;
    top: -200px;
    left: 0px;
    clip: rect(0px,2000px,700px,0px);
    overflow: hidden;
    z-index: 1;
}

#assassin-para {
    position: absolute;
    top: 750px;
    z-index: 4;
    color: rgb(200 156 56);
    font-size: 25px;
    width: 60%;
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}

#ass-head {
    position: absolute;
    top: 650px;
    z-index: 4;
}

#fight-head {
    position: absolute;
    top: 1050px;
    z-index: 4;
}

#fighter-para {
    position: absolute;
    top: 1150px;
    z-index: 4;
    color: rgb(200 156 56);
    font-size: 25px;
    width: 60%;
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}

#mage-head {
    position: absolute;
    top: 1400px;
    z-index: 4;
}

#mage-para {
    position: absolute;
    top: 1500px;
    z-index: 4;
    color: rgb(200 156 56);
    font-size: 25px;
    width: 60%;
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}

#tank-head {
    position: absolute;
    top: 1750px;
    z-index: 4;
}

#tank-para {
    position: absolute;
    top: 1850px;
    z-index: 4;
    color: rgb(200 156 56);
    font-size: 25px;
    width: 60%;
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}
#marksmen-head {
    position: absolute;
    top: 2100px;
    z-index: 4;
}
#marks-para {
    position: absolute;
    top: 2200px;
    z-index: 4;
    color: rgb(200 156 56);
    font-size: 25px;
    width: 60%;
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}
#supp-head {
    position: absolute;
    top: 2450px;
    z-index: 4;
}
#supp-para {
    position: absolute;
    top: 2550px;
    z-index: 4;
    color: rgb(200 156 56);
    font-size: 25px;
    width: 60%;
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}

#darius {
    position: absolute;
    top: 1100px;
    right:200px;
    z-index: 3;
    border: 2px solid rgb(200 156 56);
}

#akali {
    position: absolute;
    top: 750px;
    right:200px;
    z-index: 3;
    border: 2px solid rgb(200 156 56);
}

#syndra {
    position: absolute;
    top: 1450px;
    right: 200px;
    z-index: 3;
    border: 2px solid rgb(200 156 56);
}

#malph {
    position: absolute;
    top: 1800px;
    right: 200px;
    z-index: 3;
    border: 2px solid rgb(200 156 56);
}
#ashe {
    position: absolute;
    top: 2150px;
    right: 200px;
    z-index: 3;
    border: 2px solid rgb(200 156 56);
}
#taric {
    position: absolute;
    top: 2500px;
    right: 200px;
    z-index: 3;
    border: 2px solid rgb(200 156 56);
}


